@mixin glyphicon($codecontent) {
  &:before {
    content: $codecontent;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}
@mixin button(
  $codecontent: "",
  $bgcolor: black,
  $fgcolor: white,
  $bordercolor: black,
  $bordersize: 3px
) {
  position: relative;
  top: 0;
  transition: top 500ms ease, box-shadow 500ms ease;
  @include glyphicon($codecontent);
  text-transform: uppercase;
  border: $bordersize solid $bordercolor;
  padding: 10px 10px;
  display: block;
  margin: 0 15px;
  color: $fgcolor;
  background-color: $bgcolor;
  text-decoration: none;
  &:hover {
    background-color: darken($bgcolor, 20%);
    border-color: darken($bgcolor, 20%);
    color: lighten($fgcolor, 20%);
    top: -2px;
    box-shadow: 10px 5px 5px black;
  }
}

@mixin hideSR {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}
@mixin buttonWarning(){
  @include button($bgcolor: $warning);
}
