@charset "UTF-8";
/* variables */
.img-male {
  position: relative;
  top: 0;
  transition: top 500ms ease, box-shadow 500ms ease;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 10px 10px;
  display: block;
  margin: 0 15px;
  color: white;
  background-color: black;
  text-decoration: none;
}
.img-male:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.img-male:hover {
  background-color: black;
  border-color: black;
  color: white;
  top: -2px;
  box-shadow: 10px 5px 5px black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#body-header {
  position: relative;
}

#body-header h1 {
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20px;
}

#sections-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}

#wrapper-top-nav {
  background: url(../images/bg-top-wwf.png) repeat-x;
}

/* Code imbriqué pour la navigation haute */
#top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
#top-nav a:nth-child(1) {
  position: relative;
  top: 0;
  transition: top 500ms ease, box-shadow 500ms ease;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 10px 10px;
  display: block;
  margin: 0 15px;
  color: white;
  background-color: #fe6a23;
  text-decoration: none;
}
#top-nav a:nth-child(1):before {
  content: "\e804";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
#top-nav a:nth-child(1):hover {
  background-color: #ba3d01;
  border-color: #ba3d01;
  color: white;
  top: -2px;
  box-shadow: 10px 5px 5px black;
}
#top-nav a:nth-child(2) {
  position: relative;
  top: 0;
  transition: top 500ms ease, box-shadow 500ms ease;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 10px 10px;
  display: block;
  margin: 0 15px;
  color: white;
  background-color: black;
  text-decoration: none;
}
#top-nav a:nth-child(2):before {
  content: "\f342";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
#top-nav a:nth-child(2):hover {
  background-color: black;
  border-color: black;
  color: white;
  top: -2px;
  box-shadow: 10px 5px 5px black;
}
#top-nav a:nth-child(3) {
  position: relative;
  top: 0;
  transition: top 500ms ease, box-shadow 500ms ease;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 10px 10px;
  display: block;
  margin: 0 15px;
  color: white;
  background-color: orange;
  text-decoration: none;
}
#top-nav a:nth-child(3):before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
#top-nav a:nth-child(3):hover {
  background-color: #996300;
  border-color: #996300;
  color: white;
  top: -2px;
  box-shadow: 10px 5px 5px black;
}
#top-nav a:nth-child(4) {
  display: none;
}

/* Navigation principale avec code imbriqué */
#main-nav {
  display: flex;
  margin: 20px 0 0 150px;
  height: 70px;
}
#main-nav a {
  text-transform: uppercase;
  padding: 10px 5px;
  display: block;
  margin: 0 5px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#first-band {
  min-height: 400px;
  background: url(../images/baleines.jpg) no-repeat 50% 50%;
  position: relative;
}
#first-band .h2-first-band {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
  top: 200px;
  left: 100px;
}
#first-band p {
  position: absolute;
  top: 270px;
  left: 100px;
  color: white;
}
#first-band a {
  position: absolute;
  top: 300px;
  left: 100px;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: #fe6a23;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 900;
}
#first-band a:hover {
  background-color: #ed5912;
}

#id-second {
  display: flex;
  justify-content: center;
}
#id-second > div {
  border: 1px solid red;
  flex-basis: calc(50% - 25px);
  height: 300px;
  margin: 0 25px;
}

@media screen and (max-width: 780px) {
  #sections-nav {
    height: 100px;
  }
  #body-header h1 {
    width: 80px;
    margin-left: 10px;
  }
  .sections-nav {
    flex-direction: column;
  }
  #top-nav {
    justify-content: flex-end;
  }
  #top-nav a:nth-child(1) {
    font-size: 0.8rem;
  }
  #top-nav a:nth-child(2),
  #top-nav a:nth-child(3) {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
  }
  #top-nav a:nth-child(4) {
    display: block;
    border: 4px solid transparent;
  }
  #top-nav a:nth-child(4):before {
    font-size: 1.5rem;
  }
  #top-nav a:nth-child(4) span {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
  }
  #main-nav {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
  }
  .h2-first-band {
    font-size: 1.5rem;
    top: 150px;
    left: 20px;
  }
  #first-band p {
    left: 20px;
    font-size: 1.2rem;
  }
  #first-band a {
    left: 20px;
  }
}

/*# sourceMappingURL=08exoWWF.css.map */
